In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# colums value
# UtilityBillsPaymentHistory removed
categorical_columns = [
    'EmploymentStatus',
    'EducationLevel',
    'MaritalStatus',
    'HomeOwnershipStatus',
    'BankruptcyHistory',
    'LoanPurpose',
    'PaymentHistory',
    'LoanApproved'
]

numeric_columns = [
    'Age',
    'AnnualIncome',
    'CreditScore',
    'Experience',
    'LoanAmount',
    'LoanDuration',
    'NumberOfDependents',
    'MonthlyDebtPayments',
    'CreditCardUtilizationRate',
    'NumberOfOpenCreditLines',
    'NumberOfCreditInquiries',
    'DebtToIncomeRatio',
    'PreviousLoanDefaults',
    'LengthOfCreditHistory',
    'SavingsAccountBalance',
    'CheckingAccountBalance',
    'TotalAssets',
    'TotalLiabilities',
    'MonthlyIncome',
    'JobTenure',
    'NetWorth',
    'BaseInterestRate',
    'InterestRate',
    'MonthlyLoanPayment',
    'TotalDebtToIncomeRatio',
]

In [3]:
## Load Data
# Type your Loan.csv path
file_path = 'Loan.csv'

# Loading Data
df = pd.read_csv(file_path)
print(df.describe())
df.head()

                Age   AnnualIncome   CreditScore    Experience     LoanAmount  \
count  20000.000000   20000.000000  20000.000000  20000.000000   20000.000000
mean      39.752600   59161.473550    571.612400     17.522750   24882.867800
std       11.622713   40350.845168     50.997358     11.316836   13427.421217
min       18.000000   15000.000000    343.000000      0.000000    3674.000000
25%       32.000000   31679.000000    540.000000      9.000000   15575.000000
50%       40.000000   48566.000000    578.000000     17.000000   21914.500000
75%       48.000000   74391.000000    609.000000     25.000000   30835.000000
max       80.000000  485341.000000    712.000000     61.000000  184732.000000

       LoanDuration  NumberOfDependents  MonthlyDebtPayments  \
count  20000.000000        20000.000000         20000.000000
mean      54.057000            1.517300           454.292700
std       24.664857            1.386325           240.507609
min       12.000000            0.000000            50.000000
25%       36.000000            0.000000           286.000000
50%       48.000000            1.000000           402.000000
75%       72.000000            2.000000           564.000000
max      120.000000            5.000000          2919.000000

       CreditCardUtilizationRate  NumberOfOpenCreditLines  ...  MonthlyIncome  \
count               20000.000000             20000.000000  ...   20000.000000
mean                    0.286381                 3.023350  ...    4891.715521
std                     0.159793                 1.736161  ...    3296.771598
min                     0.000974                 0.000000  ...    1250.000000
25%                     0.160794                 2.000000  ...    2629.583333
50%                     0.266673                 3.000000  ...    4034.750000
75%                     0.390634                 4.000000  ...    6163.000000
max                     0.917380                13.000000  ...   25000.000000

       UtilityBillsPaymentHistory     JobTenure      NetWorth  \
count                20000.000000  20000.000000  2.000000e+04
mean                     0.799918      5.002650  7.229432e+04
std                      0.120665      2.236804  1.179200e+05
min                      0.259203      0.000000  1.000000e+03
25%                      0.727379      3.000000  8.734750e+03
50%                      0.820962      5.000000  3.285550e+04
75%                      0.892333      6.000000  8.882550e+04
max                      0.999433     16.000000  2.603208e+06

       BaseInterestRate  InterestRate  MonthlyLoanPayment  \
count      20000.000000  20000.000000        20000.000000
mean           0.239124      0.239110          911.607052
std            0.035509      0.042205          674.583473
min            0.130101      0.113310           97.030193
25%            0.213889      0.209142          493.763700
50%            0.236157      0.235390          728.511452
75%            0.261533      0.265532         1112.770759
max            0.405029      0.446787        10892.629520

       TotalDebtToIncomeRatio  LoanApproved     RiskScore
count            20000.000000  20000.000000  20000.000000
mean                 0.402182      0.239000     50.766780
std                  0.338924      0.426483      7.778262
min                  0.016043      0.000000     28.800000
25%                  0.179693      0.000000     46.000000
50%                  0.302711      0.000000     52.000000
75%                  0.509214      0.000000     56.000000
max                  4.647657      1.000000     84.000000

[8 rows x 30 columns]

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,48,Married,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,26045,48,Single,...,3309.083333,0.935132,3,43609,0.207045,0.201077,794.054238,0.389852,0,52.0
2,2018-01-03,47,40724,570,Employed,Bachelor,26,17627,36,Married,...,3393.666667,0.872241,6,5205,0.217627,0.212548,666.406688,0.462157,0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,...,5757.000000,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179140,0.070210,1,36.0

In [4]:
# Change column types where applicable
# UtilityBillsPaymentHistory removed
# Check and remove 'UtilityBillsPaymentHistory' column if it exists
if 'UtilityBillsPaymentHistory' in df.columns:
    df = df.drop('UtilityBillsPaymentHistory', axis=1)

for col in categorical_columns:
    df[col] = df[col].astype('category')

for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

df = df.drop('RiskScore', axis=1)

# Convert 'ApplicationDate' to datetime
df['ApplicationDate'] = pd.to_datetime(df['ApplicationDate'], errors='coerce')

# Compute the summary statistics for numeric columns
summary = df.head()

# Print the summary
print(summary)

print('\n min, max, mean only')
Min_Max_Mean=df.describe(include=[float, int]).loc[["min", "max", "mean"]]
print(Min_Max_Mean)

  ApplicationDate  Age  AnnualIncome  CreditScore EmploymentStatus  \
0      2018-01-01   45         39948          617         Employed
1      2018-01-02   38         39709          628         Employed
2      2018-01-03   47         40724          570         Employed
3      2018-01-04   58         69084          545         Employed
4      2018-01-05   37        103264          594         Employed

  EducationLevel  Experience  LoanAmount  LoanDuration MaritalStatus  ...  \
0         Master          22       13152            48       Married  ...
1      Associate          15       26045            48        Single  ...
2       Bachelor          26       17627            36       Married  ...
3    High School          34       37898            96        Single  ...
4      Associate          17        9184            36       Married  ...

   TotalAssets TotalLiabilities  MonthlyIncome  JobTenure  NetWorth  \
0       146111            19183    3329.000000         11    126928
1        53204             9595    3309.083333          3     43609
2        25176           128874    3393.666667          6      5205
3       104822             5370    5757.000000          5     99452
4       244305            17286    8605.333333          5    227019

   BaseInterestRate  InterestRate MonthlyLoanPayment TotalDebtToIncomeRatio  \
0          0.199652      0.227590         419.805992               0.181077
1          0.207045      0.201077         794.054238               0.389852
2          0.217627      0.212548         666.406688               0.462157
3          0.300398      0.300911        1047.506980               0.313098
4          0.197184      0.175990         330.179140               0.070210

   LoanApproved
0             0
1             0
2             0
3             0
4             1

[5 rows x 34 columns]

 min, max, mean only
          Age  AnnualIncome  CreditScore  Experience   LoanAmount  \
min   18.0000   15000.00000     343.0000     0.00000    3674.0000
max   80.0000  485341.00000     712.0000    61.00000  184732.0000
mean  39.7526   59161.47355     571.6124    17.52275   24882.8678

      LoanDuration  NumberOfDependents  MonthlyDebtPayments  \
min         12.000              0.0000              50.0000
max        120.000              5.0000            2919.0000
mean        54.057              1.5173             454.2927

      CreditCardUtilizationRate  NumberOfOpenCreditLines  ...  \
min                    0.000974                  0.00000  ...
max                    0.917380                 13.00000  ...
mean                   0.286381                  3.02335  ...

      CheckingAccountBalance   TotalAssets  TotalLiabilities  MonthlyIncome  \
min                  24.0000  2.098000e+03      3.720000e+02    1250.000000
max               52572.0000  2.619627e+06      1.417302e+06   25000.000000
mean               1782.5551  9.696440e+04      3.625241e+04    4891.715521

      JobTenure      NetWorth  BaseInterestRate  InterestRate  \
min     0.00000  1.000000e+03          0.130101      0.113310
max    16.00000  2.603208e+06          0.405029      0.446787
mean    5.00265  7.229432e+04          0.239124      0.239110

      MonthlyLoanPayment  TotalDebtToIncomeRatio
min            97.030193                0.016043
max         10892.629520                4.647657
mean          911.607052                0.402182

[3 rows x 25 columns]

In [5]:
print(df[df.isna().any(axis=1)]) # show the na in the data frame
missing_values =df.isnull().sum()
print(missing_values)

Empty DataFrame
Columns: [ApplicationDate, Age, AnnualIncome, CreditScore, EmploymentStatus, EducationLevel, Experience, LoanAmount, LoanDuration, MaritalStatus, NumberOfDependents, HomeOwnershipStatus, MonthlyDebtPayments, CreditCardUtilizationRate, NumberOfOpenCreditLines, NumberOfCreditInquiries, DebtToIncomeRatio, BankruptcyHistory, LoanPurpose, PreviousLoanDefaults, PaymentHistory, LengthOfCreditHistory, SavingsAccountBalance, CheckingAccountBalance, TotalAssets, TotalLiabilities, MonthlyIncome, JobTenure, NetWorth, BaseInterestRate, InterestRate, MonthlyLoanPayment, TotalDebtToIncomeRatio, LoanApproved]
Index: []

[0 rows x 34 columns]
ApplicationDate              0
Age                          0
AnnualIncome                 0
CreditScore                  0
EmploymentStatus             0
EducationLevel               0
Experience                   0
LoanAmount                   0
LoanDuration                 0
MaritalStatus                0
NumberOfDependents           0
HomeOwnershipStatus          0
MonthlyDebtPayments          0
CreditCardUtilizationRate    0
NumberOfOpenCreditLines      0
NumberOfCreditInquiries      0
DebtToIncomeRatio            0
BankruptcyHistory            0
LoanPurpose                  0
PreviousLoanDefaults         0
PaymentHistory               0
LengthOfCreditHistory        0
SavingsAccountBalance        0
CheckingAccountBalance       0
TotalAssets                  0
TotalLiabilities             0
MonthlyIncome                0
JobTenure                    0
NetWorth                     0
BaseInterestRate             0
InterestRate                 0
MonthlyLoanPayment           0
TotalDebtToIncomeRatio       0
LoanApproved                 0
dtype: int64

In [6]:
num_rows = df.shape[0]
print(f"Number of rows before cleaning: {num_rows}")

# Select categorical columns
categorical_columns_df = df.select_dtypes(exclude=['number'])

# Select only numeric columns for outlier removal
numeric_columns_df = df.select_dtypes(include=['number'])

# Calculate Q1 (25th percentile) and Q3 (75th percentile) for numeric columns
Q1 = numeric_columns_df.quantile(0.25)
Q3 = numeric_columns_df.quantile(0.75)
IQR = Q3 - Q1

# Define bounds for non-outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers from numeric data by applying the bounds per column
cleaned_numeric_df = numeric_columns_df.apply(lambda x: (x >= lower_bound[x.name]) & (x <= upper_bound[x.name]))

# Only keep rows where no column is out of bounds
cleaned_numeric_df = numeric_columns_df[cleaned_numeric_df.all(axis=1)]

num_rows = cleaned_numeric_df.shape[0]
print(f"Number of rows after cleaning: {num_rows}")

Number of rows before cleaning: 20000
Number of rows after cleaning: 9966

In [7]:
# Join cleaned numeric data with categorical columns
df = cleaned_numeric_df.join(categorical_columns_df, how='left')

In [8]:
# Target column is 'LoanApproved'
# One-Hot Encoding for categorical columns
attr = pd.get_dummies(df[categorical_columns + numeric_columns], drop_first=True)
  # Features (all columns except the target)
target = df['LoanApproved']  # Target variable

# Split data into training and testing sets
attr_train, attr_test, target_train, target_test = train_test_split(
    attr, target, test_size=0.25, random_state=44, shuffle=True
)

# Inspect the splits
print("Training Features Shape:", attr_train.shape)
print("Testing Features Shape:", attr_test.shape)
print("Training Target Shape:", target_train.shape)
print("Testing Target Shape:", target_test.shape)

# Optional: Display summaries
print("Training Data Summary:\n", attr_train.describe())
print("Testing Data Summary:\n", attr_test.describe())

Training Features Shape: (7474, 80)
Testing Features Shape: (2492, 80)
Training Target Shape: (7474,)
Testing Target Shape: (2492,)
Training Data Summary:
                Age   AnnualIncome  CreditScore   Experience    LoanAmount  \
count  7474.000000    7474.000000  7474.000000  7474.000000   7474.000000
mean     39.580546   54262.661359   574.402194    17.331951  22395.094996
std      11.254201   27928.463608    47.466764    10.989207   9775.108683
min      18.000000   15000.000000   437.000000     0.000000   3729.000000
25%      32.000000   32499.500000   544.000000     9.000000  15085.500000
50%      39.000000   48281.000000   580.000000    17.000000  20720.000000
75%      47.000000   70567.000000   609.000000    25.000000  28096.750000
max      72.000000  137278.000000   696.000000    49.000000  53707.000000

       LoanDuration  NumberOfDependents  MonthlyDebtPayments  \
count   7474.000000         7474.000000          7474.000000
mean      55.091785            1.514985           423.421862
std       23.448761            1.386734           187.244071
min       12.000000            0.000000            60.000000
25%       36.000000            0.000000           280.000000
50%       48.000000            1.000000           391.000000
75%       72.000000            3.000000           537.000000
max      120.000000            5.000000           981.000000

       CreditCardUtilizationRate  NumberOfOpenCreditLines  ...  \
count                7474.000000              7474.000000  ...
mean                    0.283042                 2.956516  ...
std                     0.154509                 1.633930  ...
min                     0.000974                 0.000000  ...
25%                     0.161822                 2.000000  ...
50%                     0.263566                 3.000000  ...
75%                     0.388290                 4.000000  ...
max                     0.735115                 7.000000  ...

       CheckingAccountBalance    TotalAssets  TotalLiabilities  MonthlyIncome  \
count             7474.000000    7474.000000       7474.000000    7474.000000
mean              1276.401124   69721.853893      26312.910891    4500.704554
std                981.693217   52484.235523      20259.162108    2314.935573
min                 28.000000    2505.000000        565.000000    1250.000000
25%                517.000000   28938.000000      10576.250000    2699.000000
50%               1003.000000   54789.500000      20497.000000    4002.000000
75%               1760.000000   96308.750000      36930.250000    5825.875000
max               4486.000000  244604.000000      91061.000000   11439.833333

         JobTenure       NetWorth  BaseInterestRate  InterestRate  \
count  7474.000000    7474.000000       7474.000000   7474.000000
mean      4.885603   48849.396441          0.236104      0.235857
std       2.112556   49520.229905          0.032120      0.038714
min       0.000000    1004.000000          0.146362      0.129550
25%       3.000000    9007.000000          0.213271      0.208030
50%       5.000000   31149.000000          0.234482      0.232775
75%       6.000000   73651.000000          0.257592      0.261927
max      10.000000  208764.000000          0.332372      0.349499

       MonthlyLoanPayment  TotalDebtToIncomeRatio
count         7474.000000             7474.000000
mean           760.146925                0.337690
std            379.676685                0.203824
min            119.224371                0.028832
25%            474.272982                0.180474
50%            677.346665                0.283291
75%            971.795363                0.447528
max           2039.986714                1.002923

[8 rows x 25 columns]
Testing Data Summary:
                Age   AnnualIncome  CreditScore   Experience    LoanAmount  \
count  2492.000000    2492.000000  2492.000000  2492.000000   2492.000000
mean     39.792135   53700.513644   574.936196    17.536517  22173.533307
std      11.345816   27569.330722    47.153621    11.001290   9636.877139
min      18.000000   15000.000000   438.000000     0.000000   3674.000000
25%      32.000000   32406.750000   545.000000     9.000000  14988.000000
50%      40.000000   47953.000000   580.000000    17.000000  20516.000000
75%      48.000000   70292.000000   610.000000    25.000000  28331.000000
max      72.000000  137738.000000   702.000000    49.000000  53561.000000

       LoanDuration  NumberOfDependents  MonthlyDebtPayments  \
count   2492.000000         2492.000000          2492.000000
mean      55.478331            1.527689           424.703050
std       23.759347            1.373473           185.785768
min       12.000000            0.000000            78.000000
25%       36.000000            0.000000           282.000000
50%       48.000000            1.000000           392.000000
75%       72.000000            2.000000           536.000000
max      120.000000            5.000000           980.000000

       CreditCardUtilizationRate  NumberOfOpenCreditLines  ...  \
count                2492.000000              2492.000000  ...
mean                    0.284482                 2.926565  ...
std                     0.156237                 1.615804  ...
min                     0.002672                 0.000000  ...
25%                     0.160825                 2.000000  ...
50%                     0.267293                 3.000000  ...
75%                     0.387996                 4.000000  ...
max                     0.734629                 7.000000  ...

       CheckingAccountBalance    TotalAssets  TotalLiabilities  MonthlyIncome  \
count             2492.000000    2492.000000       2492.000000    2492.000000
mean              1291.498395   71665.767255      26949.524478    4455.679642
std               1012.686325   53030.022896      20557.547950    2283.246727
min                 25.000000    3835.000000        372.000000    1250.000000
25%                524.000000   30895.000000      10729.750000    2696.333333
50%                990.000000   56004.500000      21113.000000    3976.250000
75%               1757.000000   98952.000000      38391.250000    5812.645833
max               4482.000000  246027.000000      90951.000000   11457.083333

         JobTenure       NetWorth  BaseInterestRate  InterestRate  \
count  2492.000000    2492.000000       2492.000000   2492.000000
mean      4.915730   50270.080257          0.235937      0.234956
std       2.134602   50679.716094          0.032371      0.039244
min       0.000000    1023.000000          0.148967      0.130778
25%       3.000000    9236.750000          0.213280      0.206196
50%       5.000000   32337.000000          0.233285      0.231911
75%       6.000000   75641.750000          0.257727      0.260536
max      10.000000  208544.000000          0.328563      0.349337

       MonthlyLoanPayment  TotalDebtToIncomeRatio
count         2492.000000             2492.000000
mean           749.250255                0.337561
std            378.147833                0.205614
min             97.030193                0.025350
25%            467.328515                0.177651
50%            672.360742                0.280717
75%            955.539298                0.441122
max           2039.524974                1.000580

[8 rows x 25 columns]

In [9]:
# import SVM classifier
from sklearn.svm import SVC

# import metrics to compute accuracy
from sklearn.metrics import accuracy_score

# import metrics to compute accuracy
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix

# instantiate classifier 
svc=SVC() 

# fit classifier to training set
svc.fit(attr_train,target_train)

# make predictions on test set
target_pred=svc.predict(attr_test)

# compute and print accuracy score
print('Model accuracy score with default hyperparameters: {0:0.4f}'. format(accuracy_score(target_test, target_pred)))
print()
print('Classification Report')
print(classification_report(target_test, target_pred))
print()
print('Confusion Matrix')
print(confusion_matrix(target_test, target_pred))

Model accuracy score with default hyperparameters: 0.8708

Classification Report
              precision    recall  f1-score   support

           0       0.89      0.95      0.92      1941
           1       0.77      0.59      0.67       551

    accuracy                           0.87      2492
   macro avg       0.83      0.77      0.79      2492
weighted avg       0.86      0.87      0.86      2492


Confusion Matrix
[[1845   96]
 [ 226  325]]